<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>

    <h1>Diddit</h1>
    <div ng-app="myApp" ng-controller="myCtrl">
        <form name="myForm" ng-submit="createTopic(newTopic)">
            <label>
                Post a new topic:
                <input type="text" name="topicInput" ng-model="newTopic" required />
            </label>
            <input type="submit" id="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
